In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("titanic survival.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [4]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [5]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [6]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [7]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1

In [8]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [9]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [10]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [29]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [30]:
model.fit(X_train,y_train)

GaussianNB()

In [31]:
model.score(X_test,y_test)

0.7932960893854749

In [32]:
X_test[0:10]

     Pclass        Age     Fare  female
481       2  29.699118   0.0000       0
197       3  42.000000   8.4042       0
329       1  16.000000  57.9792       1
867       1  31.000000  50.4958       0
288       2  42.000000  13.0000       0
626       2  57.000000  12.3500       0
621       1  42.000000  52.5542       0
170       1  61.000000  33.5000       0
593       3  29.699118   7.7500       1
828       3  29.699118   7.7500       0

In [33]:
y_test[0:10]

/tmp/ipykernel_2876/2966258366.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  y_test[0:10]

481    0
197    0
329    1
867    0
288    1
626    0
621    1
170    0
593    0
828    1
Name: Survived, dtype: int64

In [34]:
model.predict(X_test[0:10])

array([0, 0, 1, 0, 0, 0, 0, 0, 1, 0])

In [18]:
model.predict_proba(X_test[:10])

array([[0.94921066, 0.05078934],
       [0.19525127, 0.80474873],
       [0.62392151, 0.37607849],
       [0.27456548, 0.72543452],
       [0.94917308, 0.05082692],
       [0.35767237, 0.64232763],
       [0.04465552, 0.95534448],
       [0.94905063, 0.05094937],
       [0.94962437, 0.05037563],
       [0.25641895, 0.74358105]])

In [19]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.736     , 0.744     , 0.784     , 0.76612903, 0.77419355])

In [35]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB

In [36]:

model.score(X_test,y_test)

0.7932960893854749

In [37]:
mn = MultinomialNB()
mn.fit(X_train,y_train)
mn.score(X_test,y_test)

0.7262569832402235